#header {
  background-color: black;
  color: white;
  height: 100%;
  font-family: Helvetica neue;
  font-weight: lighter;
  font-size: 80px;
  letter-spacing: 2px;
  margin-top: 0px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

#songs_header {
  background-color: black;
  color: white;
  height: 100%;
  font-family: Helvetica neue;
  font-weight: lighter;
  font-size: 80px;
  letter-spacing: 2px;
  margin-top: 0px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.song {
  font-family: Helvetica neue;
  font-weight: lighter;
  margin-left: 50px;
}

.song:hover {
  color: red;
}

.song_title {
  font-family: Helvetica neue;
  font-weight: lighter;
  font-size: 35px;
}

#image1 {
 /* display: inline;*/
  background-image: url(image1.jpg);
  float: right;
  /*font-family: Helvetica neue;
  font-weight: lighter;
  margin-top: 0px;
  margin-right: 20px;*/
}

.footer {
  background-color: black;
  margin-top: 20px;
  position: absolute;
  width: 100%;
  height: 100px;
}

.post {
  color: white;
  display: inline;
  font-family: Helvetica neue;
  font-weight: lighter;
  font-size: 26px;
  margin-left: 50px;
}

.post:hover {
  color: red;
}

#remove {
  color: white;
  display: inline;
  font-family: Helvetica neue;
  font-weight: lighter;
  font-size: 26px;
  margin-left: 50px;
  /*padding-top: 30px;*/
}

#remove:hover {
  color: red;
}

/*======MODAL======*/

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding: 20px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:8px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

#post_header {
  font-family: Helvetica neue;
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
}

#artist {
  font-family: Helvetica neue;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 10%;
  padding: 10px;
  /*text-align: justify;*/
}

#title {
  font-family: Helvetica neue;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 10%;
  padding: 10px;
  /*text-align: justify;*/
}

#description {
  font-family: Helvetica neue;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 10%;
  padding: 10px;
 /* text-align: justify;*/
}

#url {
  font-family: Helvetica neue;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 10%;
  padding: 10px;
  /*text-align: justify;*/
}

#image {
  font-family: Helvetica neue;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 10%;
  padding: 10px;
  /*text-align: justify;*/
}

#submit {
  font-family: Helvetica neue;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 10%;
  padding: 10px;
  /*text-align: justify;*/
}

#back {
  font-family: Helvetica neue;
  font-weight: lighter;
  margin-left: 10%;
}

#close {
  font-family: Helvetica neue;
  font-weight: lighter;
  margin-left: 10%;
}


